nav {
  height: 80px;

  background-color: var(--secondary-bg-color);

  display: flex;

  justify-content: space-between;

  align-items: center;

  gap: 100px;

  position: fixed;

  top: 0;

  width: 100%;

  padding: 0 20px;

  transition: all 300ms;
}

nav * {
  font-family: "space-grotesk";
}

nav ul {
  list-style: none;

  gap: 20px;

  display: none;
}

.navScrolled {
  background-color: #0a0a0cbd;

  backdrop-filter: blur(8px);

  z-index: 10;
}

@media (min-width: 1024px) {
  nav {
    justify-content: center;

    padding: 0 70px;
  }

  nav ul {
    display: flex;
  }
}
