#home {
  position: relative;
  margin-top: 140px;
  background-image: url(../../assets/imgs/Lines.svg);
  background-size: cover;
  padding-bottom: 30px;
  background-position: center;
}

.hero {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: var(--text-);
  gap: 50px;
}

.hero .content {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

#home > img {
  width: 500px;
  height: 377px;
  object-fit: fill;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  opacity: var(--gradiant-);
}

.hero .content h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
  font-display: swap;
}

.hero .content h1 span {
  font-weight: 400;
}

.hero .content p {
  font-size: 18px;
  text-align: justify;
  width: 80%;
  color: var(--hero-content-);
}

.hero .content a {
  transition: 200ms;
  text-decoration: none;
  border: none;
  background-color: var(--btn-bg-);
  border-radius: 6px;
  padding: 12px 23px;
  color: var(--text-);
}

.hero > div:last-child {
  position: relative;
  background-image: url(../../assets/imgs/Circle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 420px;
  height: 440px;
}

.hero > div:last-child img:first-child {
  width: 230px;
  position: absolute;
  top: -15px;
  right: 20%;
}

.hero > div:last-child img:last-child {
  top: -20px;
  position: absolute;
}

.hero .content a:hover {
  background-color: var(--hover-);
  color: bisque;
}

@media (max-width: 1023px) {
  #home {
    background: none;
    margin-top: 100px;

    > img {
      width: 100%;
    }
  }

  .hero .content {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .hero .content h1 {
    font-size: 25px;
    line-height: normal;
  }

  .hero .content p {
    width: 100%;
    text-align: center;
  }

  .hero > div:last-child img:last-child {
    display: none;
  }

  .hero > div:last-child img:first-child {
    width: 50%;
    position: static;
  }

  .hero > div:last-child {
    height: max-content;
    display: flex;
    width: 100%;
    justify-content: center;
    background-size: cover;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .hero {
    justify-content: center;
  }

  .hero > div:last-child {
    width: 60%;
  }
}
