.skills {
  width: 40%;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: 200ms;

  > p {
    font-size: 18px;
    color: #d1d5db;
  }

  h2 {
    margin: 40px;
  }
}

.skills {
  > div {
    animation: scaleAnimation 3s linear infinite;
    -webkit-animation: scaleAnimation 3s linear infinite;
  }
}

@keyframes scaleAnimation {
  0%,
  50% {
    opacity: 1;
    transform: scale(1);
  }
  25%,
  75% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 1023px) {
  .skills {
    width: 100%;
  }
}
