footer {
  padding: 36px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: var(--text-);
  border-top: 1px solid #bec0bf;
  gap: 10px;

  div {
    display: flex;
    gap: 15px;
  }

  a {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--active-);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 639px) {
  footer {
    justify-content: center;
    text-align: center;
    padding: 20px 0;
  }
}
