.skill .skillName {
  font-weight: 600;
  font-size: 24px;
}

.sliderContainer {
  position: relative;
}

.sliderContainer .bubble {
  position: absolute;
  top: -30px;
  font-size: 10px;
  background-color: var(--active-);
  padding: 4px 6px;
  border-radius: 4px;
  color: var(--bg-color-);
}

.sliderContainer input {
  pointer-events: none;
  appearance: none;
  width: 100%;
  border-radius: 5px;
}

.sliderContainer input::-webkit-slider-runnable-track {
  height: 10px;
}

.sliderContainer input::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  background: #edecec;
  border-radius: 50%;
  margin-top: -4px;
  border: 3px solid var(--active-);
}
